# 忽略敏感配置
.env
.env.local
.env.production

# 忽略 API 的 config 配置（PHP）
api/config/config.php

# PHP Composer 依赖
/vendor/

# Node.js 依赖
node_modules/

# Next.js 构建产物
.next/
out/

# 本地配置
.vscode/
.vercel/

# 系统垃圾文件
.DS_Store
Thumbs.db

# 日志与备份文件
*.log
*.bak
